body {
    background-color: #444444;
    color: white;
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial;
    overflow: hidden;
}

#timedate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#sunmoon {
    height: 70px;
    display: grid;
    align-content: center;
    grid-template-columns: min-content 20px 50px min-content;
    grid-template-rows: 30px 10px 30px;
    grid-template-areas:
        "moon . sunriseicon sunrisetime"
        "moon . sunseticon sunrisetime"
        "moon . . sunsettime";
}

#moon {
    grid-area: moon;
    align-self: end;
}

#sunriseicon {
    grid-area: sunriseicon;
    height: 50px;
    object-fit: contain;
}

#sunrisetime {
    grid-area: sunrisetime;
    font-size: 28px;
    align-self: self-end;
}

#sunseticon {
    grid-area: sunseticon;
    height: 50px;
    object-fit: contain;
}

#sunsettime {
    grid-area: sunsettime;
    font-size: 28px;
}

#date {
    font-size: 35px;
    color: white;
}

.day {
    font-size: 35px;
    color: white;
}

#clock {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#time {
    font-size: 90px;
    color: #F0E68C;
    height: 100px;
}

#seconds {
    align-self: flex-start;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 5px;
    color: #F0E68C;
}

#space {
    height: 10px;
}

.cal_event {
    font-size: 25px;
    color: #7FFFD4;
    text-align: center;
}