body {
    background-color: #444444;
    font-size: 35px;
    color: #00FFFF;
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial;
    overflow: hidden;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daycontainer {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content 70px 70px;
    grid-template-areas:
        "head head"
        "condimage tmax"
        "condimage tmin";
}

.conditionpic {
    grid-area: condimage;
    align-self: center;
    object-fit: contain;
    width: 100%;
}

.icon {
    width: 50px;
}

.propscontainer {
    grid-area: head;
}

.temp {
    grid-row: 2 / span 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-size: 90px;
    display: grid;
    color: #00FFFF;
    text-align: right;
}

.time {
    grid-area: head;
    color: white;
    font-size: 30px;
}

span {
    font-size: 40px;
    color: #00FFFF;
}

sup {
    font-size: 15px;
}

.tempsplit {
    font-size: 35px;
}

.t1 {
    grid-row: 1 / span 2;
    align-self: center;
    display: inline-grid;
    text-align: right;
}

.deg {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    text-align: left;
}

.t2 {
    grid-row: 2;
    grid-column: 2;
    align-self: start;
    text-align: left;
}

.tempmax {
    grid-area: tmax;
    align-items: flex-end;
    font-size: 40px;
    color: #00FFFF;
}

.tempmin {
    grid-area: tmin;
    align-items: flex-start;
    font-size: 40px;
    color: #7FFFD4;
}

.parent {
    position: relative;
    top: 0px;
    left: 0px;
    height: 50px;
}

.image1 {
    position: relative;
    top: 0px;
    left: 0px;
}

.image2 {
    position: absolute;
    top: 0px;
    left: 0px;
}